<a href="https://colab.research.google.com/github/laya2002/assignment-6/blob/master/Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

phyton program to cnvert binary number to decimal.

In [3]:
b_num = list(input("input a binary number"))
value=0
for i in range(len(b_num)):
  digit = b_num.pop()
  if digit == '1':
       value = value + pow(2, i)
  print("the decimal value of the number is", value)

input a binary number10010
the decimal value of the number is 0
the decimal value of the number is 2
the decimal value of the number is 2
the decimal value of the number is 2
the decimal value of the number is 18

phytn program to generate N number of fibonacci numbers take n value from users

In [6]:
n = int(input("how many terms? "))
n1, n2 = 0, 1
count = 0
if n<= 0:
  print("please enter a positive integer") 
elif n == 1:
  printf("fibonacci sequence upto",n,":")
  print(n1)
else:
  print("fibonacci sequence:")
  while count < n:
      print(n1)
      nth = n1 + n2
    # update values
      n2 = nth
      count += 1

how many terms? 5
fibonacci sequence:
0
0
0
0
0

phyton program to dispay multiplication tableof num. take num value from the user

In [9]:
num = int(input("enter the number to display multiplication table: "))
for i in range(1, 11):
  print(num, 'x', i,'=', num*i)

enter the number to display multiplication table: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

phyton program to take 10 integers from keyboard using loop and print their average value on the screen

In [10]:
sum=0
i=0
while i>0:
  print ("enter number")
  num = int(input())
  sum = sum + num
  i = i-1
print ("average is", sum/10.0)
# to print the pattern
i = 1
while i<=4:
  print ("*"*i)
  i=i+1

average is 0.0
*
**
***
****

phyton program to find greatest greatest common divisor (gcd) or hoghest common factor of given two numbers

In [15]:
def gcd(a,b):
  if (a == 0):
    return b
  if (b == 0):
    return a
  if (a > b):
    return gcd(a-b, b)
a = int(input("enter the value of a: "))
b = int(input("enter the value of b: "))
if (gcd(a, b)):
   print('gcd of', a, 'and', b, 'is', gcd(a, b))
else:
   print('not found')

enter the value of a: 4
enter the value of b: 9
not found

phyton program that accepts aword from the user and reverse it

In [16]:
word = input("input a word to reverse: ")
for char in range(len(word) - 1, - 1, - 1):
  print(word[char], end="")
print("\n")

input a word to reverse: hello
olleh

phyton program to count the number of even and oddnumbers from aseries of numbers

In [17]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
count_odd = 0
count_even = 0
for x in numbers:
  if not x % 2:
    count_even+=1
  else:
    count_odd+=1
print("number of even numbers :",count_even)
print("number of odd numbers :",count_odd)

number of even numbers : 4
number of odd numbers : 5

phyton program that prints all of the numbers from 0 to 6 except 3 and 6

In [18]:
for x in range(6):
  if (x == 3 or x==6):
    continue
  print(x,end=' ')
print("\n")

0 1 2 4 5